@import "../../../mixin/breakpoints";

:host {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(var(--group-rows), 1fr);
  grid-template-columns: repeat(var(--group-columns), 1fr);

  @include bp(xs) {
    display: flex;
    flex-direction: column;
  }
}
