@import "../../../mixin/breakpoints";

:host {
  --group-columns: var(--group-l-columns);
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
  grid-template-columns: repeat(var(--group-columns), 1fr);

  @include bp(m, s) {
    --group-columns: var(--group-m-columns);
  }

  @include bp(xs) {
    display: flex;
    flex-direction: column;
  }
}
