<app-group [rows]="4" [columns]="16">
  <app-mock-field height="2">1</app-mock-field>
  <app-mock-field height="2">2</app-mock-field>

  <app-mock-field>3</app-mock-field>
  <app-mock-field>4</app-mock-field>
  <app-mock-field>5</app-mock-field>
  <app-mock-field width="8">6</app-mock-field>
  <app-mock-field-group width="8" useSpan>
    <app-mock-field width="3">7 FB</app-mock-field>
    <app-mock-field width="5">8 FB</app-mock-field>
  </app-mock-field-group>
  <app-mock-field-group width="8">
    <app-mock-field width="1">7</app-mock-field>
    <app-mock-field width="5">8</app-mock-field>
  </app-mock-field-group>
  <app-mock-field-group width="8">
    <app-mock-field width="10">7</app-mock-field>
    <app-mock-field width="4">8</app-mock-field>
  </app-mock-field-group>
</app-group>
