:host {
  --column-breaks: 1;
  --use-columns: var(--main-columns);
  --max-field-width: var(--use-columns);


  // breakpoints calculate to two rows, and break one under.
  // if 16 columns there are probably 3 rows, so we add another column group below (rows)
  // when breaking to 1 column only. Not needed when breaking to two columns since 4 / 2 = 2
  // better compare with the calculated rows???
  --extra-rows-grid-16: clamp(0, calc(var(--main-columns) - 12), 4);
  --extra-rows: 0;

  //                                  rows by breakpooint         +   // extra rows for 16 column
  --calculated-rows: calc(var(--column-breaks) * var(--main-rows) + (var(--extra-rows) * var(--extra-rows-grid-16)));
  --cell-height: var(--cell-height-max, var(--calculated-rows));
  --use-rows: min(var(--cell-height), var(--calculated-rows));


  display: grid;
  grid-template-rows: repeat(var(--use-rows), 1fr);
  grid-template-columns: repeat(var(--use-columns), 1fr);
  grid-auto-flow: column;
  gap: .5rem;
  align-items: stretch;

  flex-grow: 1;
  grid-column: span var(--use-columns);
  grid-row: span var(--use-rows);


  @media (max-width: 600px) {
    --use-columns: var(--field-width, var(--m-columns));
    --max-field-width: 4;
    --column-breaks: 2;
  }

  @media (max-width: 500px) {
    --use-columns: var(--field-width, var(--s-columns));
    --cell-height: var(--cell-height-sum);
    --max-field-width: 4;
    --column-breaks: 3;
    --extra-rows: 1;
  }
}
