
<app-group [rows]="4" style="background-color: lightblue">
  <app-title>Title ohne Gruppe</app-title>
  <app-mock-field>2</app-mock-field>
  <app-mock-field>2</app-mock-field>
  <app-group  [columns]="8" [width]="8" [height]="4" style="background-color: lightgreen">
    <app-title width="4">Title in Gruppe</app-title>
    <app-mock-field height="2">2</app-mock-field>
    <app-mock-field>2</app-mock-field>
  <app-mock-field>2</app-mock-field>
  <app-mock-field>2</app-mock-field>
  </app-group>
</app-group>
