:host {
  //display: flex;
  //flex: 1 1 0px;
  //background-color: white;
  //border-radius: 0.3rem;
  //border: solid black 1px;
  //margin: .2rem;
  //padding-left: 1rem;
  //justify-self: stretch;
  //place-items: center;

  grid-column: span min(var(--cell-width, 1), var(--use-sub-group-column));
  grid-row: span var(--cell-height, 1);
}

mat-form-field {
  width: 100%;
  height: 100%;
}
