<app-group [rows]="4" [columns]="16">
  <app-mock-field>1</app-mock-field>
  <app-title >test</app-title>
  <app-mock-field>2</app-mock-field>
  <app-mock-field-group>
    <app-mock-field width="1">3</app-mock-field>
    <app-mock-field width="3">4</app-mock-field>
  </app-mock-field-group>
  <div style="grid-column: span 4"></div>
  <app-mock-field>5</app-mock-field>
  <app-mock-field>6</app-mock-field>
  <app-mock-field>6</app-mock-field>
  <app-mock-field>6</app-mock-field>
  <app-mock-field>6</app-mock-field>
  <app-mock-field>6</app-mock-field>
  <app-mock-field>6</app-mock-field>
  <app-mock-field>6</app-mock-field>
  <app-mock-field>6</app-mock-field>
  <app-mock-field>6</app-mock-field>
</app-group>

<br>
<hr>
<br>

<app-group [rows]="4" [columns]="16">
  <app-mock-field height="2">1</app-mock-field>
  <app-mock-field height="2">2</app-mock-field>
  <app-mock-field-group width="8">
    <app-mock-field width="1">3</app-mock-field>
    <app-mock-field width="3">4</app-mock-field>
  </app-mock-field-group>
  <app-mock-field width="8">8</app-mock-field>
  <app-mock-field-group width="8">
    <app-mock-field width="2">5</app-mock-field>
    <app-mock-field width="2">6</app-mock-field>
  </app-mock-field-group>
  <app-mock-field width="8">7</app-mock-field>
  <app-mock-field>9</app-mock-field>
  <app-mock-field>10</app-mock-field>
</app-group>

<br>
<hr>
<br>

<app-group [rows]="4" style="background-color: lightblue">
  <app-title>Title ohne Gruppe</app-title>
  <app-mock-field>2</app-mock-field>
  <app-mock-field>2</app-mock-field>
  <app-group  [columns]="8" [width]="8" [height]="4" style="background-color: lightgreen">
    <app-title width="4">Title in Gruppe</app-title>
    <app-mock-field height="2">2</app-mock-field>
    <app-mock-field>2</app-mock-field>
  <app-mock-field>2</app-mock-field>
  <app-mock-field>2</app-mock-field>
  </app-group>

  <!--  <app-group [width]="4" [columns]="8" [height]="4" style="background-color: lightcoral">-->
<!--  <app-mock-field-group>-->
<!--    <app-mock-field width="1">3</app-mock-field>-->
<!--    <app-mock-field width="3">4</app-mock-field>-->
<!--  </app-mock-field-group>-->
<!--  <app-mock-field-group>-->
<!--    <app-mock-field width="2">5</app-mock-field>-->
<!--    <app-mock-field width="2">6</app-mock-field>-->
<!--  </app-mock-field-group>-->
<!--  <app-mock-field>7</app-mock-field>-->
<!--  <app-mock-field>8</app-mock-field>-->
<!--    <app-mock-field>8</app-mock-field>-->
<!--    <app-mock-field>8</app-mock-field>-->

<!--  </app-group>-->
</app-group>

<!--<div class="app-group col-4">-->
<!--  <div class="inline-column">-->
<!--      <app-mock-field></app-mock-field>-->
<!--      <app-mock-field-group>-->
<!--        <app-mock-field width="1">3</app-mock-field>-->
<!--        <app-mock-field width="3">4</app-mock-field>-->
<!--      </app-mock-field-group>-->
<!--    <app-mock-field></app-mock-field>-->
<!--    <app-mock-field></app-mock-field>-->
<!--  </div>-->
<!--  <div class="inline-column">-->
<!--    <app-mock-field></app-mock-field>-->
<!--    <app-mock-field-group>-->
<!--      <app-mock-field width="1">3</app-mock-field>-->
<!--      <app-mock-field width="3">4</app-mock-field>-->
<!--    </app-mock-field-group>-->
<!--    <app-mock-field></app-mock-field>-->
<!--    <app-mock-field></app-mock-field>-->
<!--  </div>-->
<!--  <div class="inline-column">-->
<!--    <app-mock-field></app-mock-field>-->
<!--    <app-mock-field-group>-->
<!--      <app-mock-field width="1">3</app-mock-field>-->
<!--      <app-mock-field width="3">4</app-mock-field>-->
<!--    </app-mock-field-group>-->
<!--    <app-mock-field></app-mock-field>-->
<!--    <app-mock-field></app-mock-field>-->
<!--  </div>-->
<!--  <div class="inline-column">-->
<!--    <app-mock-field></app-mock-field>-->
<!--    <app-mock-field-group>-->
<!--      <app-mock-field width="1">3</app-mock-field>-->
<!--      <app-mock-field width="3">4</app-mock-field>-->
<!--    </app-mock-field-group>-->
<!--    <app-mock-field></app-mock-field>-->
<!--    <app-mock-field></app-mock-field>-->
<!--  </div>-->
<!--  <div class="inline-column">-->
<!--    <app-mock-field></app-mock-field>-->
<!--    <app-mock-field-group>-->
<!--      <app-mock-field width="1">3</app-mock-field>-->
<!--      <app-mock-field width="3">4</app-mock-field>-->
<!--    </app-mock-field-group>-->
<!--    <app-mock-field></app-mock-field>-->
<!--    <app-mock-field></app-mock-field>-->
<!--  </div>-->
<!--</div>-->


