<app-group [columns]="12" style="background-color: lightblue">
    <app-title>Title ohne Gruppe</app-title>
    <app-mock-field>1</app-mock-field>
    <app-mock-field>2</app-mock-field>
    <app-mock-field>3</app-mock-field>



    <app-sub-group
        [width]="8"
        style="background-color: lightgreen"
    >
        <app-title width="4">Title in Gruppe</app-title>
        <app-mock-field height="2">1 G</app-mock-field>
        <app-mock-field>2 G</app-mock-field>
        <app-mock-field>3 G</app-mock-field>
        <app-mock-field>4 G</app-mock-field>
        <app-mock-field>5 G</app-mock-field>

    </app-sub-group>

</app-group>

<br />
<hr />
<br />

<!--<app-group [rows]="4" [columns]="16" style="background-color: lightblue">-->
<!--    <app-title>Title ohne Gruppe</app-title>-->
<!--    <app-mock-field>2</app-mock-field>-->
<!--    <app-mock-field>2</app-mock-field>-->
<!--    <app-sub-group-->
<!--        [width]="12"-->
<!--        style="background-color: lightgreen"-->
<!--    >-->
<!--        <app-title width="4">Title in Gruppe</app-title>-->
<!--        <app-mock-field height="2">2</app-mock-field>-->
<!--        <app-mock-field>2</app-mock-field>-->
<!--        <app-mock-field>2</app-mock-field>-->
<!--        <app-mock-field>2</app-mock-field>-->
<!--        <app-mock-field>2</app-mock-field>-->
<!--        <app-mock-field>2</app-mock-field>-->
<!--        <app-mock-field>2</app-mock-field>-->
<!--        <app-mock-field>2</app-mock-field>-->
<!--    </app-sub-group>-->
<!--</app-group>-->

<br />
<hr />
<br />

<!--<app-group [rows]="4" [columns]="16" style="background-color: lightblue">-->
<!--    <app-title>Title ohne Gruppe</app-title>-->
<!--    <app-mock-field>2</app-mock-field>-->
<!--    <app-sub-group height="4">-->
<!--        <app-title>title</app-title>-->
<!--        <app-mock-field height="2">asd</app-mock-field>-->
<!--        <app-mock-field>asd</app-mock-field>-->
<!--    </app-sub-group>-->

<!--    &lt;!&ndash;  <app-sub-group [width]="4" [height]="4" style="background-color: lightgreen">&ndash;&gt;-->
<!--    &lt;!&ndash;    <app-title width="4">Title in Gruppe</app-title>&ndash;&gt;-->
<!--    &lt;!&ndash;    <app-mock-field height="2">2</app-mock-field>&ndash;&gt;-->
<!--    &lt;!&ndash;  </app-sub-group>&ndash;&gt;-->
<!--    <app-sub-group-->
<!--        [width]="8"-->
<!--        [height]="4"-->
<!--        style="background-color: lightgreen"-->
<!--    >-->
<!--        <app-title width="4">Title in Gruppe</app-title>-->
<!--        <app-mock-field height="2">2</app-mock-field>-->
<!--        <app-mock-field>2</app-mock-field>-->
<!--        <app-mock-field>2</app-mock-field>-->
<!--        <app-mock-field>2</app-mock-field>-->
<!--    </app-sub-group>-->
<!--</app-group>-->
