:host {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;

    --calculated-rows: calc(
        clamp(1, var(--column-breaks), 3) * var(--field-height)
    );
    --use-rows: min(var(--cell-height-sum), var(--calculated-rows));

    grid-template-rows: repeat(var(--use-rows), 1fr);

    --sub-group-columns: min(var(--max-field-width, 16), var(--field-width));
    grid-template-columns: repeat(var(--sub-group-columns), 1fr);

    grid-column: span min(var(--max-field-width, 16), var(--field-width));
    grid-row: span min(var(--use-rows));

    // breakpoints calculate to two rows, and break one under.
    // if 16 columns there are probably 3 rows, so we add another column group below (rows)
    // when breaking to 1 column only. Not needed when breaking to two columns since 4 / 2 = 2
    // better compare with the calculated rows???
}
