@import "../../../mixin/breakpoints";

:host {
  --use-sub-group-column: min(var(--sub-group-columns), var(--group-columns));
  display: grid;
  gap: 0.5rem;
  flex: 1 1 0;
  grid-template-rows: repeat(var(--sub-group-rows), 1fr);
  grid-template-columns: repeat(var(--use-sub-group-column), 1fr);
  grid-auto-flow: column;

  grid-column: span var(--sub-group-columns);
  grid-row: span var(--sub-group-rows);

  @include bp-xs {
    grid-auto-flow: row;
    --use-sub-group-column: 1;
  }
}
