:host {
    display: flex;
    background-color: lightgray;
    flex-grow: 1;
    grid-column: span
        min(
            var(--field-group-columns, var(--max-field-width)),
            var(--field-width)
        );
    grid-row: span var(--field-height);
    border-radius: 0.2rem;
    align-items: center;
    padding: 1rem;
}
